@import "compass";
@import "compass/reset";

/* apply a natural box layout model to all elements */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*** Color ***/
$primary-color: #FF9628;
$body-color: #555;

/*** Spacing ***/
$body-padding: 1em;

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size:16px;
   color: $body-color;
}

h1 { font-size:4.5em; }
h2 { font-size:3em; font-weight:100; }
h3 { font-size:1.5em; }

p {
  font-family:"Helvetica Neue";
  font-weight:400;
  margin-top:1em;
  line-height:1.2;
}

header {
  @include clearfix();
  padding: 0.5em $body-padding;

  h1 {
    color: $primary-color;
    float:left;
  }

  a {
    display:block;
    float:right;
    position:relative;
    top:11px;

    &#app-store {
      width:135px;
    }
  }
}

#main {
  #main-banner {
    height:350px;
    width:100%;
    margin:0px;
    background-color:$primary-color;
    color: white;
    position:relative;

    img {
      display:block;
      position:relative;
      top:65px;
      width:204px;
      margin:0 auto;
    }

    h2 {
      font-size:2em;
      position:absolute;
      bottom:10px;
      right:10px;
    }
  }

  #main-content {

    section {
      @include clearfix();
      margin:auto;
      max-width:960px;
      padding:3em 2em;


      >div {
        width:50%; 

        img { 
          width:100%;
        }
      }

      article { 
        width:50%; 
        padding-right:2em;

        h2 {
          color:$primary-color;
          margin-bottom:0.5em;
        }

        li {
          list-style:disc;
          margin-left:1em;
          font-size:1.5em;
          margin-bottom:1em;
        }
      }

      &:nth-child(odd) {
        >div {
          float:left;
        }
        article {
          float:right;
          padding-left:2em;
        }
      }

      &:nth-child(even) {
        background-color:#eee;

        >div { 
          float:right; 
        }
        article {
          float:left;
          padding-right:2em;
        }
      }
    }
  }
}