<div id="main">
  <section id="main-banner">
    <img alt="Roll Call logo" src="images/icon-white.png">
    <h2>Attendance Made Simple</h2>
  </section>

  <div id="main-content">
    <section>
      <div><img src="images/class-screenshot.png"></div>
      <article>
        <h2>Simple</h2>

        <ul>
          <li>Check in students with a single tap.</li>
          <li>Add students on the iPad or import from a CSV file.</li>
          <li>See who is present at a glance.</li>
          <li>Portrait and landscape orientations supported.</li>
          <li>Display on a projector or TV via Apple TV.</li>
        </ul>

      </article>
    </section>
    <section>
      <div><img src="images/settings-screenshot.png"></div>
      <article>
        <h2>Student Details</h2>

        <ul>
          <li>Basic info such as name, email, phone number.</li>
          <li>Track student allergies and medications.</li>
          <li>Notes field for capturing any additional types of information.</li>
        </ul>
      </article>
    </section>
    <section>
      <div><img src="images/settings-screenshot.png"></div>
      <article>
        <h2>Care Takers</h2>

        <ul>
          <li>Add information about student's care takers.</li>
          <li>Select if care taker is approved for student pick-up.</li>
          <li>Track who picked up each student on check out.</li>
        </ul>
      </article>
    </section>
    <section>
      <div><img src="images/settings-screenshot.png"></div>
      <article>
        <h2>Reporting</h2>

        <ul>
          <li>Class, student, and date based reporting.</li>
          <li>Set custom date ranges for each report.</li>
          <li>Export student information.</li>
          <li>Reports are generated in CSV format and can be printed to an AirPrint compatible printer.</li>
        </ul>
      </article>
    </section>
    <section>
      <div><img src="images/settings-screenshot.png"></div>
      <article>
        <h2>Communications</h2>

        <ul>
          <li>Easily email all students and/or care takers from the class screen.</li>
          <li>Email weekly attendance to a student and/or their care taker(s) from the student detail screen.</li>
          <li>Send class reports.</li>
        </ul>
      </article>
    </section>
  </div>
</div>