<div id="main">
  <section id="main-banner">
    <img alt="Roll Call logo" src="images/icon-white.png">
    <h2>Attendance Made Simple</h2>
  </section>

  <div id="main-content">
    <section>
      <div><img src="images/class-screenshot.png"></div>
      <article>
        <h2>Beautiful iOS 7 Interface</h2>

        <p>
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
      </article>
    </section>
    <section>
      <div><img src="images/settings-screenshot.png"></div>
      <article>
        <h2>Beautiful iOS 7 Interface</h2>

        <p>
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
      </article>
    </section>
  </div>
</div>